<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="Regression1">
  
 
    <classes>
      <class name="org.geetha.testng.TestExcepSubClass"/>
       <methods>
 		 <exclude name = "testMethod"/>
  		</methods>
    </classes>
  </test>
  
 <test name="Test1">
  <groups>
    <run>
      <include name="testCoun"/>
      <include name="init"/>
    </run>
  </groups>
 
  <classes>
    <class name="org.geetha.testng.CalculatorTest"/>
  </classes>
</test>

</suite>
